<!DOCTYPE html>
<html lang="en" ng-app="commuteApp">
    <head>
        <meta charset="utf-8" />
        <title>Commutr - @ViewBag.Title</title>
        <link href="@Url.Content("~/Content/commutr_logo_small.png")" rel="shortcut icon"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/jquery-2.0.3.min.js")
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
        @Scripts.Render("~/Scripts/ui-bootstrap-0.9.0.min.js")
        @Scripts.Render("~/Scripts/ui-bootstrap-tpls-0.9.0.min.js")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/Scripts/linq.min.js")
        @Scripts.Render("~/Scripts/toastr.min.js")
        @Scripts.Render("~/Scripts/moment.min.js")
        @Scripts.Render("~/Scripts/bootstrap.min.js")
        @Scripts.Render("~/Scripts/datetimepicker.js")
        <script>
            var module = angular.module('commuteApp', ['maps', 'ui.bootstrap', 'myServices', 'ngAnimate', 'ui.bootstrap.datetimepicker']);

            /*function fixWebkitHeightBug() {
                var svgW = 200;
                var svgH = 100;
                var curSVGW = $('#logo').width();
                var newSVGH = heightInRatio(svgH, svgW, curSVGW);
                $('#logo').height(newSVGH);
                function heightInRatio(oH, oW, nW) {
                    return (oH / oW * nW);
                }
            };*/
            window.AddJourneyUrl = '@Url.Action("AddNewJourney","MyRoutes")';
            window.EndJourneyUrl = '@Url.Action("EndJourney","MyRoutes")';
            $(document).ready(function () {
                $('.hasTooltip').tooltip({
                    placement: 'bottom'
                });
                //fixWebkitHeightBug();
            });
            /*$(window).resize(function () {
                fixWebkitHeightBug();
            });*/
        </script>
        @RenderSection("scripts", required: false)
    </head>
    <body>
        <div class="container">
            <div class="row">
                <header>
                    <div class="row spacer-4">
                        <div class="col-xs-6 col-md-3 col-xs-offset-1">
                            <a href="@Url.Action("MyRoutes","MyRoutes")" ><img id="logo" src="@Url.Content("~/Content/commutr_logo.png")" onerror='this.onerror = null; this.src="@Url.Content("~/Content/commutr_logo.png")"'/></a>
                        </div>
                        <div class="col-xs-4 pull-right">
                            <section id="login">
                                @Html.Partial("_LoginPartial")
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="nav nav-pills nav-justified">
                                @{
                                    var navs = new Dictionary<string, string>
                                                   {
                                                       {"MyRoutes", "My Routes"},
                                                       {"About", "About"}
                                                   };
                                    foreach (var nav in navs)
                                    {
                                        <li class="@if(Equals(ViewContext.Controller.ValueProvider.GetValue("action").RawValue, nav.Key))
                                                   {
                                                       @:active
                                                   }">@Html.ActionLink(nav.Value,nav.Key,"MyRoutes")</li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </header>
            </div>
            <div class="row">
                <section id="main">
                    @RenderBody()
                </section>
            </div>
        </div>
    </body>
</html>
