@model CommuteTimingWebsite.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="page-header text-center">
    <h2>@ViewBag.Title</h2>
</div>

    <div class="page-header">
        <h3>Use a local account to log in.</h3>
    </div>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new Dictionary<string, object> {{"class", "form-control"}})
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new Dictionary<string, object> {{"class", "form-control"}})
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <input type="submit" value="Log in" class="btn btn-primary"/>
        <p>
            @Html.ActionLink("Register", "Register") if you don't have an account.
        </p>
    }

<div class="page-header">
    <h3>Use another service to log in.</h3>
</div>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
